/venv

/backend/task/base_settings.py
/backend/task/production_settings.py
/backend/task/local_settings.py
/backend/.idea
/backend/.env
/backend/api/__pycache__
/backend/api/migrations/__pycache__
/backend/task/__pycache__

/.idea

backend/db.sqlite3

/frontend
